.main-chat
  .main-header
    .main-header__group
      %p.main-header__groupname
        test
      %ul.member__list
        Member:
        %li.member__name
          naru
    -# .header__editbutton
    -#   = link_to "Edit", "#"    
  .main-body
  .main-footer
  