.main-chat
  .main-header
    .main-header__group
      %p.main-header__groupname
        test
      .member__list
        Member: naru
    .header__edit__button 
      = link_to "#" do
        Edit 
  .messagefield
    .messagebox
      .message__info
        .message__info__username
          naru
        .message__info__date  
          2020年７月11日 22時20分
      .message
        .message__content
          おはよう
  .main-footer
  