.main-chat {
  width: calc(100vw - 300px);
  .main-header {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;
    .main-header__group {
      .main-header__groupname {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }  
      .member__list {
        color: #999;
        display: flex;
        font-size: 12px;
        margin-top: 15px;
      }  
    }  
    .header__edit__button { 
      display: block;
      border: 1px solid #38AEF0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;

      a {
        text-decoration: none;
        color: #38AEF0;
      }
    }
  
  }   
  .messagefield {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .messagebox {
      margin-bottom: 46px;
      .message__info {
        display: flex;
        .message__info__username {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        .message__info__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }  
      }
      .message {
        margin-top: 12px;
        .message__content {    
          color: #434a54;
          font-size: 14px;
        }
      }
    }
  }
  .footer {
    background-color: #dddddd;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;

    .form {
      display: flex;
      justify-content: space-between;
      .Form__contens {
        width: 100%;
        background-color: #fff;
        position: relative;
        .input-box {
          width: 100%;
          background-color: #fff;
          position: relative;

        //   &__text {
        //     height: 50px;
        //     width: 100%;
        //     color: #434a54;
        //     border-style: none;
        //     padding: 0 0px 0 10px; 
        //   }
        //   &__image {

        //     cursor: pointer;
        //     font-size: 1.3rem;

        //     &__file {
        //       display: none;
        //     }
        //   }
        // }
        // .subit-btn {
        //   width: 100px;
        //   height: 50px;
        //   padding: 0 30px;
        //   margin-left: 15px;
        //   background-color: #38aef0;
        //   color: white;
        //   cursor: pointer;
        }
      }
    } 
  }  
} 